.cards{
    justify-content:center;
    height:350px;
    padding:18%;
    color: hsl(0, 0%, 95%);
}
.card-sedans-car{
    background-color:hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-suvs-car{
   background-color:hsl(184, 100%, 22%);
}
.card-luxury-car{
    background-color:hsl(179, 100%, 13%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
h2{
    font-family: 'Big Shoulders Display'; 
    font-size: 40px;
    font-weight: 700;
    color: hsla(0, 0%, 100%, 0.75); 
}
p{
    font-size: 15px;
    line-height: 1.7em;
    font-family:'Lexend Deca';
    color: hsla(0, 0%, 100%, 0.75); 
}
.container{
    display:flex;
    flex-direction: column;
    margin:80px 20px;
}
button{
    border-radius:25px;
    width:60%;
    height:15%;
    background-color: white;
    padding:10px 10px;
    text-align: center;
    border:0;
    font-weight: 550;
    margin-top:15px;
    font-size:15px;
}
.button-sedans-learnMore{
    color:hsl(31, 77%, 52%);
}
.button-suvs-learnMore{
    color:hsl(184, 100%, 22%);
}
.button-luxury-learnMore{
    color:hsl(179, 100%, 13%);;
}


